/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
}

/* banner section */
.sm-paragraph{
    font-size: 14px;
    /* font-weight: 300; */
    /* line-height: 22px; */
}

.header-paragraph{
    color: #E0E0E0;
    /* font-size: 16px; */
    /* font-weight: 300; */
    /* line-height: 24px; */
}


.banner {
    background-color: #264653;
}

.banner img{
    width: 90%;
}

.btn-banner {
    width: 168px;
    height: 44px;
    background-color: #E76F51;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* Featured Bike Section */
.img-gray{
    filter: grayscale(100%);
}

#featured-bikes h1{
    /* font-weight: 600; */
    /* font-size: 48px; */
    /* width: 80%; */
    /* line-height: 72px; */
}

#featured-bikes p{
    color: #E76F51;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
}

/* ***************
 Feedback Section 
******************/

.orange-text{
    color: #E76F51;
}

.client-image{
    width: 60%;
}

.client-comments{
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.filled {
    color: #E76F51;
}
.empty{
    color: #E76F51;
}
.feedback-names{
    color: #23A6F0;
    font-weight: 600;
    font-size: 14px;
}
.occupation{
    color: #252B42;
    font-weight: 600;
    font-size: 14px;
}

#feedback .container{
    width: 85%;
}

/* **********
 FAQ Section
************ */

.faq-img{
    width: 70%;
}
.faq-text{
    color: #7E848C;
    font-size: 16px;
}

/* ***************
Membership Section
****************** */